<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataHandlerTool.demo.mapper.StudentMapper">
    <select id="selectStudents" resultType="DataHandlerTool.demo.domain.Student">
        select * from student
    </select>
    <insert id="insert" parameterType="DataHandlerTool.demo.domain.Student">
        insert into student (name,number) values(#{name},#{number})
    </insert>
</mapper>